.cart-page {
  margin-top: 50px;
  align-items: center;
  h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
  } 
  h5{
    color: black;
  }
  .inc-button{
    background-color:rgb(31, 30, 30);
    border-radius: 80px;
  }

  .order-summary{
    width: 400px;
  }
}